@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Gochi+Hand&display=swap');

:root {
    --dark: #333;
    --light: #efefef;
    --grey: #b5b5b5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: "Gochi Hand", cursive;
}

/* @font-face {
    font-family: "Daz Handwriting";
    src: url('./assets/DazHandwriting.otf') format('opentype');
}

@font-face {
    font-family: "January Handwriting";
    src: url('./assets/JanuaryHandwriting.otf') format('opentype');
} */

body {
    height: 100vh;
    background-color: black;
    background: url('./assets/bg4.jpeg');
    /* background-size: cover; */
    position: relative;
}

header {
    height: 6rem;
    width: 100%;
    background-color:  var(--dark);
    color: var(--light);
    /* position: fixed;
    top: 0; */
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    font-size: 1.75rem;
}

header .logo {
    font-size: 6rem;
    
}

header .stats {
    padding: 1rem ;
}


main {
    height: calc(100% - (6rem + 2rem));
    /* background-color: darkseagreen; */
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.simon, 
.you {
    /~ background-color: cornflowerblue; ~/
    height: 80%;
    width: 20%;
    /~ position: absolute;
    bottom: 5%; ~/
}*/

.simon {
    /* background-color: lightblue; */
    width: 60%;
    height: 80%;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.simon .figure-img {
    width: 18rem;
    height: 100%;
}

.simon .speech-bubble {
    position: relative;
    background-color: var(--dark);
    color: var(--light);
    border-radius: 6rem;
    height: 20rem;
    width: 25rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    align-self: center;
    position: relative;
    top: -3rem;
    transition: all 0.2s ease-in;
}

.simon .speech-bubble::before {
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 4rem solid transparent;
    border-right-color: var(--dark);
    border-top: 0;
    border-left: 0;
    margin-top: -2rem;
    margin-left: -4rem;
    z-index: 1;
}

.simon .speech-bubble .cmd-box {
    font-size: 6rem;
}

.simon .speech-bubble:hover {
    transform: scale(1.05);
}


.you {
    /* background-color: coral; */
    width: 15%;
    height: 80%;
    display: flex;
    align-items: flex-end;
}

.you .figure-img {
    width: 15rem;
    height: 100%;
}

.name-tag {
    width: 8rem;
    margin: 0 auto;
    background-color: var(--grey);
    font-size: 1.5rem;
    padding: 0.6rem 1rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}

.name-tag:hover {
    background-color: var(--dark);
    color: var(--light);
}


.simon .figure-img img,
.you .figure-img img {
    width: 100%;
    height: 100%;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    /* padding: 0.5rem; */
    /* text-align: center; */
    letter-spacing: 2px;
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    color: var(--light);
    transition: all 0.2s ease-in;
}

footer a:hover {
    color: var(--grey);
}


.jumping {
    animation: jump 1s linear;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3rem);
    }
    100% {
        transform: translateY(0);
    }
}

#start-screen,
#end-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: fit-content;
    /* background-color: lightpink; */
    font-size: 2rem;
    text-align: center;
}

#start-screen h1,
#end-screen h1 {
    font-size: 8rem;
    margin-bottom: 0.25rem;
    letter-spacing: 5px;
}

#start-screen p, 
#end-screen p {
    margin-bottom: 5rem;
}

.start-game-btn {
    border: none;
    outline: none;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border-radius: 12px;
    background-color: var(--dark);
    color: var(--light);
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.start-game-btn:hover {
    background-color: #4b4b4b;
    /* color: #f4f4f4; */
}

.hidden { 
    display: none;
}

.dim {
    opacity: 0.5;
}