
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    height: 100vh;
    background-color: bisque;
    position: relative;
}

header {
    height: 5rem;
    background-color: chocolate;
    /* position: fixed;
    top: 0; */
    z-index: 100;
}

main {
    height: calc(100% - (5rem + 2rem));
    background-color: darkseagreen;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.simon, 
.you {
    /~ background-color: cornflowerblue; ~/
    height: 80%;
    width: 20%;
    /~ position: absolute;
    bottom: 5%; ~/
}*/

.simon {
    background-color: cornflowerblue;
    width: 50%;
    height: 80%;
    display: flex;
    align-items: flex-end;
}

.simon .figure-img {
    width: 18rem;
}


.you {
    background-color: coral;
    width: 15%;
    height: 80%;
    display: flex;
    align-items: flex-end;
}

.you .figure-img {
    width: 15rem;
}

.name-tag {
    width: 6rem;
    margin: 0 auto;
    background-color: crimson;
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}





.simon .figure-img img,
.you .figure-img img {
    width: 100%;
}


/* 
.speech-bubble {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -20px;
}
 */


footer {
    height: 2rem;
    background-color: chocolate;
}